/* How to Test a Stylesheet */
body{
    background: red;
}

/*CSS Selectors*/
/*1.Element Selectors*/
/*2.Class Selectors*/
/*3.ID Selectors*/

/*Specificity & When to use Selectors*/
h2 {
	color:red;
}

.subtitle{
	color:blue;
}

#services{
	color:green;
}

/*Pseudoselectors*/
h2:hover {
	color:red;
}

li:first-child{
	color: steelblue;
}
li:nth-child(2){
	color: steelblue;
}

/* li:only-child{
	color: steelblue;
}
	td:only-child{
	color: steelblue;
}*/

/* #google-link:link{
	color:red;
}
#google-link:link{
	color:blue;

} */

/*Advanced selectors*/

h2 + a {
	color:red;

}

textarea ~ button{
	color: purple;
}

ul>li {
	color:blue;
}

ul li {
	color:green;
}

/*Attribute selectors*/
h2[class = subtitle]{
	color:blue;
}

img[src^=""]{
	border: 10px solid black;
}
img[src$=""]{
	border: 10px solid black;
}
img[src*=""]{
	border: 10px solid black;
}
h2[class~=article-subtitle]{
	background: green;
}
h2[class|=article-subtitle]{
	background: green;
}

/*Color Texting*/
#title{
	color:rgb(186, 133, 9);
}

.subtitle{
	color:rgb(183, 133, 50);

}





#service-image{
	height: 400px;
	width: 70px;

	background:url("");
	background-repeat: no-repeat;
	background-color:red;
	background-size: cover;
	/* background-size: contain; */

	/* Gradients */
	background: linear-gradient(to right, red, blue);
	/* it can be top,bottom right,right or -90deg which gives from left to right */
	background: radial-gradient(circle,red 20%, blue 40%,green 60%);

	/* CSS Borders */
	border: 7px solid rgb(22, 64, 109);
	/* border: 7px double rgb(22, 64, 109);
	border: 7px dotted rgb(22, 64, 109); */

}





/* Text Manipulation */
.link{
	text-decoration: underline;
	/* or text-decoration: line-through;
	text-decoration: overline; */

	
	
}





.italics{
	font-style: italic;
}

/* Font Families */
body{
	/* background color*/
	background:rgb(204, 229, 255);

	/* image and url in css and other background properties*/
	background:url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
	background-image:url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");

	/* Opacity and transparency */
	background:rgba(204, 229, 255, 0.4);
    
	
	/* Types of Units */
	font-size:2cm;
	/* font-size:2em; */
	height:400px;
	/* height:400pc;
	height:40%;
	height:40vw
	height:40vh */


	background:rgba(204, 229, 255, 0.4);
	text-transform: capitalize;
	/* uppercase,lowercase */
	text-align: center;
	/* text-align: justify; */

	font-family:sans-serif;
	font-size: "Times New Roman", serif;
	/* including external fonts */
	font-family:"Lato";

	/* Font size ,Bolding and Style */
	font-size:40px;
	font-weight: 800;
}



#about-us-image{
	height: 300px;
	width: 60%;

	/* Margin AND Padding */
	border: 6px solid rgb(28,28,79);
	margin: 40px;
	padding-right: 40px;
	padding-top: 100px;
	padding-bottom: 50px;
	/* padding: 100px 40px 5px 0; 
	margin: 100px 40px 5px 0; */

	/* Float and Display types*/
	float: right;

}

.site-table{
	display: none;
}

.container{
	background-color: rgb(31, 31, 129);
	margin: 10px;
	display:flex;
	flex-direction: column-reverse;

	flex-wrap:wrap;
	/* nowrap,wrap-reverse */

	justify-content:flex-end;
	/* center,space-around */

	align-items: center;
	/* flex-start,flex-end,stretch,baseline */

}

.container-item {
	background: rgb(36, 130, 39);
	color: white;
	font-size: 25px;
	text-align: center;

	width: 70px;
	line-height: 50px;
	margin: 10px; 
}


.grid-container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 500px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	/* justify-content: space-evenly;
	align-content: center; */

	grid-template-rows: auto auto;
	grid-row-gap: 300px;
	grid-gap: 300px,150px;


}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px; 
}

.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
	/* transition: background 2s ease-in-out 1s; */
	transform: matrix(1, 0.45, 0.45, 1, 100, 50);

	-webkit-transition: background, padding 500ms ease;
	-moz-transition: background, padding 500ms ease;
	-o-transition: background, padding 500ms ease;
}
.submit-button:hover {
	background: rgb(147, 187, 255);
	padding: 20px 30px;
}

#about-me {
	/*	animation-name: red-to-black;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: 2;
		animation-direction: alternate-reverse;*/
	
		-webkit-animation: red-to-black 4s linear 0s 2 alternate-reverse;
		-moz-animation: red-to-black 4s linear 0s 2 alternate-reverse;
		-ms-animation: red-to-black 4s linear 0s 2 alternate-reverse;
		-o-animation: red-to-black 4s linear 0s 2 alternate-reverse;
}
	
@keyframes red-to-black {
	0% {
			background: red; 
			transform: translate(0px, 0px);
	}
	
	50% {
			background: yellow; 
			transform: translate(10px, 10px);
	}
	
	100% {
			background: black; 
			transform: translate(20px, 20px);
	}
}








